/* import google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
/* global style  */
body{
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: #264653;
    color: white;
    height: 698px;
}
footer{
    background-color: #0B0D17;
    color: white;
    height: 447px;
}

.custom-button{
    background-color:  #E76F51;
    color: white;
    border-radius: 5px;
    border: none;
}
.login-button{
    padding: 10px 24px;
    text-decoration: none;
   
}
.purchase-button{
    width: 168px;
    padding: 10px 46px;
}
.purchase-button:active, .login-button:active{
    color: #E76F51;
    background-color: white;
    border: 1px solid #E76F51;
    cursor: pointer;
}
.read-more-button{
    color: #E76F51;
    background-color: white;
    width: 160px;
    padding: 10px 25px;
    border: 1px solid #E76F51;
    border-radius: 5px;
}
.read-more-button-selected{
    color: white;
    background-color:  #E76F51;
}
.read-more-button:active{
    cursor: pointer;
    background-color: white;
    color: #E76F51;
}


/* featured bike section style  */
.grayscale-img{
    filter: grayscale(100%);
}

/* client review section  */

.coloured-text{
    color:  #E76F51;
}
.underlined-text{
    color: #E76F51;
  text-decoration: underline;
}

.checked{
    color: #E77C40;
}